*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
@media (max-width: 1280px) {
   html{
    font-size: 50%;

   } 
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #e5e7eb;
    align-items: center;
}

.logo-marker{
    display: flex;
    gap: 5px;
    align-items: center;
}

.nav-items{
    list-style: none;
    display: flex;
    gap: 2rem;
}
@media (max-width: 640px) {
    .nav-items {
        display: none;
    }
}


.nav-item a{
    text-decoration: none;
    color: #6b7280;
}


.logo-icon{
    color: #16a34a;
    font-size: 3rem;
}

.primary-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #16a34a;
    padding: 1rem 1.5rem;
    border-radius: 7px;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 2rem;

}


.hero-content{
    display: flex;
    flex-direction: column;
    gap: 1.5remx;
    flex-basis: 50%;
}


.hero-text-tag{
    background-color: #e5e7eb;
    color: #4b5563;
    display: inline-block;
    width: fit-content;
    padding: 2px 1rem;
    border-radius: 1.5rem;
}

@media (max-width: 400px) {
    .hero-text-tag {
        font-size: 1rem;
    }
}

.hero-heading{
    font-size: 5rem;
}
@media(max-width:900px){
    .hero-heading{
    font-size: 3rem;
    }
}
    

.hero-para{
    color: #4b5563;
}
.listing{
    list-style: none;
}

.hero-list{
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-list i{
    color: #16a34a; 
}

.outline-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(139, 138, 138) ;
    padding: 1rem 2rem;
    border-radius: 7px;
    border: 1px solid;
}
.hero-btn-wrapper{
    display: flex;
    gap: 3.5rem;
    margin-top: 2.5rem;
    flex-wrap: wrap;
}

.hero-image{
    width: 50rem;
    height: 40rem;
    border-radius: 1rem;

}
@media(max-width:900px) {
    .hero-image {
        width: 40rem;
        height: 30rem;
    }
}
@media(max-width:740px) {
    .hero-image-wrapper {
        display: none;
    }
    .hero-content{
        flex-basis: 100%;
    }
}
.how-it-works{
    background-color: rgb(217, 240, 217);
    padding: 8rem 2rem;
}
.title{
    text-align: center;
}
.title h3{
    font-size: 5rem;
    font-weight: 50rem;
    color: #4b5563;
}

.title p{
    color: #4b5563;
}

.cart{
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
}
@media(max-width:640px){
    .cart{
        flex-direction: column;
    }
}

.card{
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
}

.icon{
    display: flex;
    background-color: rgb(217, 240, 217) ;
    width: 3.2rem;
    height: 3.2rem;
    justify-content: center ;
    align-items: center;
    border-radius: 5px;
    color: rgb(31, 95, 31);

}
.everything{
    background-color: white;
    padding: 8rem 2rem;
}
.everything-title h3{
    font-size: 5rem;
    font-weight: 50rem;
}
.everything-title p{
    color: #4b5563;
}
.everything-title{
    text-align: center;
}
.everything-cart{
    display: flex;
    gap: 3rem;
    margin-top: 5rem;
}
@media(max-width: 740px){
    .everything-cart{
        flex-direction: column;
    }
}
.everything-card{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 8px;
    border: 1px solid rgb(153, 153, 153);
}
.everything-card h4{
    font-weight: 3rem;
    font-size: 2rem;
}
.everything-card p{
    color: #4b5563;
}
.everything-card ul{
    color: #4b5563;
    list-style: none;
}

.foot-container{
    background-color: rgb(217, 240, 217);
    height: 50rem;
    padding: 6.5rem;
    
}

.simplify{
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 4rem;
    border-radius: 1rem;

}

@media (max-width: 600px){
    .simplify{
        flex-direction: column;      
        

    }
}
.shopping{
    font-size: 4rem;
    font-weight: 6rem;
    color: white;
    padding-top: 1rem;
}
.market{
    font-size: 1.8rem;
    color: rgb(235, 231, 231);
    padding-top: 1rem;
}

.btn{
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 50rem;
    margin-top: 2rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    flex-direction: row;
    gap: 20rem;
    padding: 3rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}
