*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #e5e7eb;
    align-items: center;
}

.logo-marker{
    display: flex;
    gap: 5px;
    align-items: center;
}

.nav-items{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-item a{
    text-decoration: none;
    color: #6b7280;
}


.logo-icon{
    color: #16a34a;
    font-size: 30px;
}

.primary-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #16a34a;
    padding: 10px 15px;
    border-radius: 7px;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 20px;

}


.hero-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 50%;
}

.hero-text-tag{
    background-color: #e5e7eb;
    color: #4b5563;
    display: inline-block;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 15px;
}

.hero-heading{
    font-size: 50px;
}

.hero-para{
    color: #4b5563;
}
.listing{
    list-style: none;
}

.hero-list{
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-list i{
    color: #16a34a; 
}

.outline-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(139, 138, 138) ;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid;
}
.hero-btn-wrapper{
    display: flex;
    gap: 15px;
}

.hero-image{
    width: 500px;
    height: 400px;
    border-radius: 10px;

}

.how-it-works{
    background-color: rgb(217, 240, 217);
    padding: 80px 20px;
}
.title{
    text-align: center;
}
.title h3{
    font-size: 50px;
    font-weight: 500px;
    color: #4b5563;
}

.title p{
    color: #4b5563;
}

.cart{
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.card{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.icon{
    display: flex;
    background-color: rgb(217, 240, 217) ;
    width: 32px;
    height: 32px;
    justify-content: center ;
    align-items: center;
    border-radius: 5px;
    color: rgb(31, 95, 31);

}
.everything{
    background-color: white;
    padding: 80px 20px;
}
.everything-title h3{
    font-size: 50px;
    font-weight: 500px;
}
.everything-title p{
    color: #4b5563;
}
.everything-title{
    text-align: center;
}
.everything-cart{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.everything-card{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
    border: 1px solid rgb(153, 153, 153);
}
.everything-card h4{
    font-weight: 300px;
    font-size: 20px;
}
.everything-card p{
    color: #4b5563;
}
.everything-card ul{
    color: #4b5563;
    list-style: none;
}

.foot-container{
    background-color: rgb(217, 240, 217);
    height: 400px;
    padding: 65px;
    
}

.simplify{
    background-color: green;
    text-align: center;
    padding: 30px 40px;
    border-radius: 10px;
    height: 270px;
}
.shopping{
    font-size: 40px;
    font-weight: 60px;
    color: white;
    padding-top: 10px;
}
.market{
    font-size: 18px;
    color: rgb(235, 231, 231);
    padding-top: 10px;
}

.btn{
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 15px;
    margin-top: 20px;
}
.footer-content{
    display: flex;
    gap: 500px;
    padding-left: 30px;
    padding-top: 30px;
}